h1{
    font-size: 150px;
}
h6{
    font-size: 100px;
    margin-top: -50px;
}
p{
    font-size: 70px;
    margin-top: -200px;
}
img{
    width: 15%;
    height: 10%;
    
}
*{
    margin-left: 40px;
}
hr{
    margin-top: -70px;
}
span{
    color: green;
}
.p2{
    margin-top: 130px;
    margin-left: 100px;
    border: 2px solid black;
    inline-size: 600px;
    padding: 30px;
    margin-left: 70px;
    padding-left: 80px;
    color: black;
    font-style: normal;
}
